In [111]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression

In [112]:
data = pd.read_excel("test.xlsx")
data.head()

,hour,date_miladi,date_shamsi,code,unit_no,fuel_type,mvar,temp,moisture,power
0,1,2020-01-13,1398/10/23,SO,1,A,11,3,94,119
1,2,2020-01-13,1398/10/23,SO,1,A,11,3,96,119
2,3,2020-01-13,1398/10/23,SO,1,A,10,2,95,120
3,4,2020-01-13,1398/10/23,SO,1,A,11,2,95,120
4,5,2020-01-13,1398/10/23,SO,1,A,11,2,95,121

In [113]:
data=data[data["power"]>100]
data.shape

(756, 10)

In [114]:
# Change object to integer:
# data[data["fuel_type"]=="A"] = 1 
# data[data["fuel_type"]=="B"] = 2
# data[data["fuel_type"]=="C"] = 3

In [115]:
data['fuel_type'].value_counts()

A    508
Name: fuel_type, dtype: int64

In [116]:
data["fuel_type"].fillna(method='bfill', inplace=True)

In [117]:
data.isnull().sum()

hour           0
date_miladi    0
date_shamsi    0
code           0
unit_no        0
fuel_type      0
mvar           0
temp           0
moisture       0
power          0
dtype: int64

In [119]:
X = data[["moisture","unit_no","temp"]]
y = data[["power"]]
y

     power
0      119
1      119
2      120
3      120
4      121
..     ...
994    110
995    127
996    127
997    124
998    126

[756 rows x 1 columns]

In [123]:
X

     moisture  unit_no  temp
0          94        1     3
1          96        1     3
2          95        1     2
3          95        1     2
4          95        1     2
..        ...      ...   ...
994         6        6    15
995         8        6    16
996        21        6    18
997        11        6    19
998        19        6    19

[756 rows x 3 columns]

In [120]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [121]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
y_train = np.array(y_train)

In [122]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [129]:
# assume row is the new data point to predict with 4 features
row = np.array([10, 5, 23])

# standardize the row using the same scaler used for training data
row_scaled = scaler.transform(row.reshape(1, -1))

# predict using the model and the standardized row
prediction = model.predict(row_scaled)

print(prediction)

[[125.24244342]]