In [141]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
import warnings
warnings.filterwarnings('ignore')

In [142]:
data = pd.read_excel("test.xlsx")
data.head()

,hour,date_miladi,date_shamsi,code,unit_no,fuel_type,mvar,temp,moisture,power
0,1,2020-01-13,1398/10/23,SO,1,A,11,3,94,119
1,2,2020-01-13,1398/10/23,SO,1,A,11,3,96,119
2,3,2020-01-13,1398/10/23,SO,1,A,10,2,95,120
3,4,2020-01-13,1398/10/23,SO,1,A,11,2,95,120
4,5,2020-01-13,1398/10/23,SO,1,A,11,2,95,121

In [143]:
data=data[data["power"]>100]
data.shape

(756, 10)

In [144]:
# Change object to integer:
data["fuel_type"][data["fuel_type"]=="A"] = 1; 
data["fuel_type"][data["fuel_type"]=="B"] = 2;
data["fuel_type"][data["fuel_type"]=="C"] = 3;

In [145]:
data['fuel_type'].value_counts()

1    508
Name: fuel_type, dtype: int64

In [146]:
data["fuel_type"].fillna(method='bfill', inplace=True)

In [147]:
data.isnull().sum()

hour           0
date_miladi    0
date_shamsi    0
code           0
unit_no        0
fuel_type      0
mvar           0
temp           0
moisture       0
power          0
dtype: int64

In [148]:
X = data[["moisture","unit_no","temp","fuel_type"]]
y = data[["power"]]
y

     power
0      119
1      119
2      120
3      120
4      121
..     ...
994    110
995    127
996    127
997    124
998    126

[756 rows x 1 columns]

In [149]:
X

     moisture  unit_no  temp  fuel_type
0          94        1     3          1
1          96        1     3          1
2          95        1     2          1
3          95        1     2          1
4          95        1     2          1
..        ...      ...   ...        ...
994         6        6    15          1
995         8        6    16          1
996        21        6    18          1
997        11        6    19          1
998        19        6    19          1

[756 rows x 4 columns]

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [151]:
# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.fit_transform(X_test)

In [152]:
# Define Gradient Boosting Regression model
gb_model = GradientBoostingRegressor()

In [153]:
# Define hyperparameters to tune
params = {
'learning_rate': [0.01, 0.1, 1],
'max_depth': [3, 5, 7],
'n_estimators': [50, 100, 200]
}

In [154]:
# Perform Grid Search Cross Validation
grid_search = GridSearchCV(gb_model, params, cv=5)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=GradientBoostingRegressor(),
             param_grid={'learning_rate': [0.01, 0.1, 1],
                         'max_depth': [3, 5, 7],
                         'n_estimators': [50, 100, 200]})

In [155]:
# Print the best hyperparameters 
print(grid_search.best_params_)

{'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 200}

In [156]:
gb_model = GradientBoostingRegressor(n_estimators=200,learning_rate=0.1,max_depth=3,random_state=42)
gb_model.fit(X_train,y_train)
y_pred=gb_model.predict(X_test)

In [157]:
mse=mean_squared_error(y_pred,y_test)
r2=r2_score(y_pred,y_test)
print("Mean squared error:",mse)
print("R-squared:",r2)

Mean squared error: 43.743486320929506
R-squared: 0.4992399422275725

In [165]:
y_pred = gb_model.predict([[45,2,30,1]])
print(y_pred[0])

106.49012892562507