In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_excel("test.xlsx")
data.head()

,hour,date_miladi,date_shamsi,code,unit_no,fuel_type,mvar,temp,moisture,power
0,1,2020-01-13,1398/10/23,SO,1,A,11,3,94,119
1,2,2020-01-13,1398/10/23,SO,1,A,11,3,96,119
2,3,2020-01-13,1398/10/23,SO,1,A,10,2,95,120
3,4,2020-01-13,1398/10/23,SO,1,A,11,2,95,120
4,5,2020-01-13,1398/10/23,SO,1,A,11,2,95,121

In [20]:
data=data[data["power"]>1]
data.shape

(259, 10)

In [21]:
data.head()

,hour,date_miladi,date_shamsi,code,unit_no,fuel_type,mvar,temp,moisture,power
144,1,2020-01-13 00:00:00,1398/10/23,FQ,7,1,-26,3,94,125
145,2,2020-01-13 00:00:00,1398/10/23,FQ,7,1,-28,3,96,125
146,3,2020-01-13 00:00:00,1398/10/23,SO,7,1,-31,2,95,125
147,4,2020-01-13 00:00:00,1398/10/23,SO,7,1,-30,2,95,125
148,5,2020-01-13 00:00:00,1398/10/23,SO,7,1,-29,2,95,125

In [22]:
# find categorical variables
categorical = [var for var in data.columns if data[var].dtype=='O']
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :', categorical)

There are 3 categorical variables

The categorical variables are : ['date_miladi', 'date_shamsi', 'code']

In [23]:
# print categorical variables containing missing values
cat1 = [var for var in categorical if data[var].isnull().sum()!=0]
print(data[cat1].isnull().sum())

Series([], dtype: float64)

In [24]:
data.isnull().sum()

hour           0
date_miladi    0
date_shamsi    0
code           0
unit_no        0
fuel_type      0
mvar           0
temp           0
moisture       0
power          0
dtype: int64

In [25]:
data['fuel_type'].value_counts()

1    259
Name: fuel_type, dtype: int64

In [26]:
# Change object to integer:
data[data["fuel_type"]=="A"] = 1 
data[data["fuel_type"]=="B"] = 2
data[data["fuel_type"]=="C"] = 3

<ipython-input-26-c17dd91e3413>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data["fuel_type"]=="A"] = 1
C:\Users\pishva_r\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-26-c17dd91e3413>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data["fuel_type"]=="B"] = 2
<ipython-input-26-c17dd91e3413>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data["fuel_type"]=="C"] = 3

In [27]:
data['fuel_type'].value_counts()

1    259
Name: fuel_type, dtype: int64

In [28]:
data["fuel_type"].fillna(method='bfill', inplace=True)

C:\Users\pishva_r\Anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [29]:
data.isnull().sum()

hour           0
date_miladi    0
date_shamsi    0
code           0
unit_no        0
fuel_type      0
mvar           0
temp           0
moisture       0
power          0
dtype: int64

In [30]:
data.fillna(data.mean, inplace=True)

C:\Users\pishva_r\Anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [31]:
X = data[["moisture","unit_no","fuel_type","temp"]]
y = data[["power"]]
y

     power
144    125
145    125
146    125
147    125
148    125
..     ...
859    106
860    106
861    104
862    104
863    105

[259 rows x 1 columns]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [33]:
# Training the Decision Tree Regression model on the whole dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [34]:
y_pred=regressor.predict(X_test)
y_pred.shape

(78,)

In [35]:
y_pred

array([ 60.,  59., 109., 148., 146., 109., 148., 131.,  60., 110., 147.,
       122., 110., 136., 146.,  60., 140.,  60., 131., 147., 146., 146.,
       137., 104., 137., 147.,  56., 129., 107., 147., 140.,  62., 132.,
       147., 146., 131., 146.,  60., 147., 125., 147.,  61., 147., 146.,
       108., 140., 132., 122., 147., 148., 109., 108., 147., 122., 148.,
        60., 147., 147., 147., 131., 146., 146., 147., 122., 121., 122.,
       109.,  61., 137., 110., 147., 140., 130., 129., 137., 148., 147.,
       121.])